.elementor-1951 .elementor-element.elementor-element-33398b7 .elementor-heading-title{color:#000000;font-family:"Roboto", Sans-serif;font-size:45px;font-weight:400;}.elementor-1951 .elementor-element.elementor-element-d5100db{color:#000000;}.elementor-1951 .elementor-element.elementor-element-d5100db > .elementor-widget-container{margin:-23px 0px 0px 0px;}.elementor-1951 .elementor-element.elementor-element-69cdacb > .elementor-container{max-width:875px;}.elementor-1951 .elementor-element.elementor-element-69cdacb > .elementor-background-overlay{opacity:0.45;}.elementor-1951 .elementor-element.elementor-element-69cdacb:hover > .elementor-background-overlay{opacity:0.5;}.elementor-1951 .elementor-element.elementor-element-4425ab4 > .elementor-element-populated{border-style:none;text-align:center;}.elementor-1951 .elementor-element.elementor-element-bcc2af6 .widget-image-caption{color:#FFFFFF;background-color:#00B4E0;margin-top:0px;}.elementor-1951 .elementor-element.elementor-element-209ef34 img{height:225px;}.elementor-1951 .elementor-element.elementor-element-209ef34 .widget-image-caption{color:#FFFFFF;background-color:#00B4E0;margin-top:0px;}.elementor-1951 .elementor-element.elementor-element-0235511 > .elementor-container{max-width:875px;}.elementor-1951 .elementor-element.elementor-element-0235511 > .elementor-background-overlay{opacity:0.45;}.elementor-1951 .elementor-element.elementor-element-0235511:hover > .elementor-background-overlay{opacity:0.5;}.elementor-1951 .elementor-element.elementor-element-63739db > .elementor-element-populated{text-align:center;}.elementor-1951 .elementor-element.elementor-element-0d3bc05 .widget-image-caption{color:#FFFFFF;background-color:#00B4E0;margin-top:0px;}.elementor-1951 .elementor-element.elementor-element-bca5866 img{height:248px;}.elementor-1951 .elementor-element.elementor-element-bca5866 .widget-image-caption{color:#FFFFFF;background-color:#00B4E0;margin-top:0px;}.elementor-1951 .elementor-element.elementor-element-37b9cad > .elementor-container{max-width:875px;}.elementor-1951 .elementor-element.elementor-element-37b9cad > .elementor-background-overlay{opacity:0.45;}.elementor-1951 .elementor-element.elementor-element-37b9cad:hover > .elementor-background-overlay{opacity:0.5;}.elementor-1951 .elementor-element.elementor-element-712a682 > .elementor-element-populated{text-align:center;}.elementor-1951 .elementor-element.elementor-element-76d52a7 .widget-image-caption{color:#FFFFFF;background-color:#00B4E0;margin-top:0px;}.elementor-1951 .elementor-element.elementor-element-4a2c7c4 img{height:255px;}.elementor-1951 .elementor-element.elementor-element-4a2c7c4 .widget-image-caption{color:#FFFFFF;background-color:#00B4E0;margin-top:0px;}.elementor-1951 .elementor-element.elementor-element-265105a > .elementor-container{max-width:875px;}.elementor-1951 .elementor-element.elementor-element-265105a > .elementor-background-overlay{opacity:0.45;}.elementor-1951 .elementor-element.elementor-element-265105a:hover > .elementor-background-overlay{opacity:0.5;}.elementor-1951 .elementor-element.elementor-element-8083952 > .elementor-element-populated{text-align:center;}.elementor-1951 .elementor-element.elementor-element-6eae1e2 .widget-image-caption{color:#FFFFFF;background-color:#00B4E0;margin-top:0px;}.elementor-1951 .elementor-element.elementor-element-ca03d94 img{height:269px;}.elementor-1951 .elementor-element.elementor-element-ca03d94 .widget-image-caption{color:#FFFFFF;background-color:#00B4E0;margin-top:0px;}.elementor-1951 .elementor-element.elementor-element-1e92cd8a:not(.elementor-motion-effects-element-type-background), .elementor-1951 .elementor-element.elementor-element-1e92cd8a > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#27363F;}.elementor-1951 .elementor-element.elementor-element-1e92cd8a{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:8px 0px 0px 0px;}.elementor-1951 .elementor-element.elementor-element-1e92cd8a > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-1951 .elementor-element.elementor-element-62190c00.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-1951 .elementor-element.elementor-element-62190c00.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-1951 .elementor-element.elementor-element-1ad978d8{text-align:left;}.elementor-1951 .elementor-element.elementor-element-1ad978d8 .elementor-heading-title{color:#ffffff;font-size:18px;font-weight:500;}.elementor-1951 .elementor-element.elementor-element-545e619c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(1px/2);}.elementor-1951 .elementor-element.elementor-element-545e619c .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(1px/2);}.elementor-1951 .elementor-element.elementor-element-545e619c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(1px/2);margin-left:calc(1px/2);}.elementor-1951 .elementor-element.elementor-element-545e619c .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-1px/2);margin-left:calc(-1px/2);}body.rtl .elementor-1951 .elementor-element.elementor-element-545e619c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-1px/2);}body:not(.rtl) .elementor-1951 .elementor-element.elementor-element-545e619c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-1px/2);}.elementor-1951 .elementor-element.elementor-element-545e619c{--e-icon-list-icon-size:0px;}.elementor-1951 .elementor-element.elementor-element-545e619c .elementor-icon-list-text{color:#FFFFFFA6;padding-left:0px;}.elementor-1951 .elementor-element.elementor-element-545e619c .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1951 .elementor-element.elementor-element-545e619c .elementor-icon-list-item > a{font-size:14px;font-weight:300;}.elementor-1951 .elementor-element.elementor-element-545e619c > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-1951 .elementor-element.elementor-element-3fb37235.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-1951 .elementor-element.elementor-element-3fb37235.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-1951 .elementor-element.elementor-element-6e4fdc41{text-align:left;}.elementor-1951 .elementor-element.elementor-element-6e4fdc41 .elementor-heading-title{color:#ffffff;font-size:18px;font-weight:500;}.elementor-1951 .elementor-element.elementor-element-374ace0d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(5px/2);}.elementor-1951 .elementor-element.elementor-element-374ace0d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(5px/2);}.elementor-1951 .elementor-element.elementor-element-374ace0d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(5px/2);margin-left:calc(5px/2);}.elementor-1951 .elementor-element.elementor-element-374ace0d .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-5px/2);margin-left:calc(-5px/2);}body.rtl .elementor-1951 .elementor-element.elementor-element-374ace0d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-5px/2);}body:not(.rtl) .elementor-1951 .elementor-element.elementor-element-374ace0d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-5px/2);}.elementor-1951 .elementor-element.elementor-element-374ace0d{--e-icon-list-icon-size:0px;}.elementor-1951 .elementor-element.elementor-element-374ace0d .elementor-icon-list-text{color:#FFFFFFA6;padding-left:0px;}.elementor-1951 .elementor-element.elementor-element-374ace0d .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1951 .elementor-element.elementor-element-374ace0d .elementor-icon-list-item > a{font-size:14px;font-weight:300;}.elementor-1951 .elementor-element.elementor-element-5408cee9 > .elementor-element-populated{margin:0px 80px 0px 0px;--e-column-margin-right:80px;--e-column-margin-left:0px;}.elementor-1951 .elementor-element.elementor-element-71dcf1dd{text-align:left;}.elementor-1951 .elementor-element.elementor-element-71dcf1dd .elementor-heading-title{color:#ffffff;font-size:18px;font-weight:500;}.elementor-1951 .elementor-element.elementor-element-1937fe36{color:#FFFFFFA6;font-size:14px;font-weight:300;}.elementor-1951 .elementor-element.elementor-element-396037a9 > .elementor-container{min-height:50px;}.elementor-1951 .elementor-element.elementor-element-396037a9 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1951 .elementor-element.elementor-element-396037a9:not(.elementor-motion-effects-element-type-background), .elementor-1951 .elementor-element.elementor-element-396037a9 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#27363F;}.elementor-1951 .elementor-element.elementor-element-396037a9{border-style:solid;border-width:01px 0px 0px 0px;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1951 .elementor-element.elementor-element-396037a9 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1951 .elementor-element.elementor-element-6ed1437{text-align:left;}.elementor-1951 .elementor-element.elementor-element-6ed1437 .elementor-heading-title{color:rgba(255,255,255,0.37);font-size:14px;font-weight:300;}.elementor-1951 .elementor-element.elementor-element-19226ce9{text-align:left;}.elementor-1951 .elementor-element.elementor-element-19226ce9 .elementor-heading-title{color:rgba(255,255,255,0.37);font-size:14px;font-weight:300;}@media(max-width:1000px) and (min-width:768px){.elementor-1951 .elementor-element.elementor-element-62190c00{width:33%;}.elementor-1951 .elementor-element.elementor-element-3fb37235{width:33%;}.elementor-1951 .elementor-element.elementor-element-5408cee9{width:33%;}}@media(max-width:1000px){.elementor-1951 .elementor-element.elementor-element-1e92cd8a{padding:50px 20px 50px 20px;}.elementor-1951 .elementor-element.elementor-element-545e619c .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1951 .elementor-element.elementor-element-545e619c .elementor-icon-list-item > a{font-size:13px;}.elementor-1951 .elementor-element.elementor-element-374ace0d .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1951 .elementor-element.elementor-element-374ace0d .elementor-icon-list-item > a{font-size:13px;}.elementor-1951 .elementor-element.elementor-element-5408cee9 > .elementor-element-populated{margin:0% 15% 0% 0%;--e-column-margin-right:15%;--e-column-margin-left:0%;}.elementor-1951 .elementor-element.elementor-element-396037a9{padding:25px 20px 25px 20px;}}@media(max-width:767px){.elementor-1951 .elementor-element.elementor-element-1e92cd8a{padding:35px 20px 35px 20px;}.elementor-1951 .elementor-element.elementor-element-62190c00{width:33%;}.elementor-1951 .elementor-element.elementor-element-62190c00 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-1951 .elementor-element.elementor-element-1ad978d8{text-align:left;}.elementor-1951 .elementor-element.elementor-element-1ad978d8 .elementor-heading-title{font-size:16px;}.elementor-1951 .elementor-element.elementor-element-545e619c .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1951 .elementor-element.elementor-element-545e619c .elementor-icon-list-item > a{font-size:10px;}.elementor-1951 .elementor-element.elementor-element-3fb37235{width:48%;}.elementor-1951 .elementor-element.elementor-element-3fb37235 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-1951 .elementor-element.elementor-element-6e4fdc41{text-align:left;}.elementor-1951 .elementor-element.elementor-element-6e4fdc41 .elementor-heading-title{font-size:16px;}.elementor-1951 .elementor-element.elementor-element-374ace0d .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1951 .elementor-element.elementor-element-374ace0d .elementor-icon-list-item > a{font-size:10px;}.elementor-1951 .elementor-element.elementor-element-5408cee9 > .elementor-element-populated{margin:0px 0px 50px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-1951 .elementor-element.elementor-element-71dcf1dd{text-align:left;}.elementor-1951 .elementor-element.elementor-element-71dcf1dd .elementor-heading-title{font-size:16px;}.elementor-1951 .elementor-element.elementor-element-1937fe36{text-align:left;font-size:10px;}.elementor-1951 .elementor-element.elementor-element-396037a9{padding:20px 20px 20px 20px;}.elementor-1951 .elementor-element.elementor-element-6ed1437{text-align:center;}.elementor-1951 .elementor-element.elementor-element-6ed1437 .elementor-heading-title{font-size:12px;}.elementor-1951 .elementor-element.elementor-element-6ed1437 > .elementor-widget-container{padding:0px 0px 25px 0px;}.elementor-1951 .elementor-element.elementor-element-19226ce9{text-align:center;}.elementor-1951 .elementor-element.elementor-element-19226ce9 .elementor-heading-title{font-size:11px;line-height:1.5em;}.elementor-1951 .elementor-element.elementor-element-19226ce9 > .elementor-widget-container{padding:0px 0px 25px 0px;}}/* Start custom CSS for image, class: .elementor-element-bcc2af6 */.caption {
    background-color: #00b4e0;
    height: 50px;
    text-align: center;
    font-size: 1.7em;
    font-family: "Montserrat",sans-serif;
    color: white;
    vertical-align: center;
    padding-top: 6px;
    transition: 0.3s;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-209ef34 */.caption {
    background-color: #00b4e0;
    height: 50px;
    text-align: center;
    font-size: 1.7em;
    font-family: "Montserrat",sans-serif;
    color: white;
    vertical-align: center;
    padding-top: 6px;
    transition: 0.3s;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-69cdacb */.widget-image-caption{
    
    line-height: 3;
}

.wp-caption img[class*=wp-image-] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.4;
    transition: 0.3s;
    cursor: pointer;
}
/* click on img*/
.wp-caption img[class*=wp-image-]:hover{
    opacity: 1;
}

/*.wp-caption:hover{*/
/*    background-color: #db477c !important;*/
/*}*/

.wp-caption img[class*=wp-image-]:hover + figcaption.widget-image-caption.wp-caption-text{
    background-color: #db477c !important;
}

figcaption.widget-image-caption.wp-caption-text:hover {
    background-color: #db477c !important;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-0d3bc05 */.caption {
    background-color: #00b4e0;
    height: 50px;
    text-align: center;
    font-size: 1.7em;
    font-family: "Montserrat",sans-serif;
    color: white;
    vertical-align: center;
    padding-top: 6px;
    transition: 0.3s;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-bca5866 */.caption {
    background-color: #00b4e0;
    height: 50px;
    text-align: center;
    font-size: 1.7em;
    font-family: "Montserrat",sans-serif;
    color: white;
    vertical-align: center;
    padding-top: 6px;
    transition: 0.3s;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-0235511 */.widget-image-caption{
    
    line-height: 2.5;
}

.wp-caption img[class*=wp-image-] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.4;
    transition: 0.3s;
    cursor: pointer;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-76d52a7 */.caption {
    background-color: #00b4e0;
    height: 50px;
    text-align: center;
    font-size: 1.7em;
    font-family: "Montserrat",sans-serif;
    color: white;
    vertical-align: center;
    padding-top: 6px;
    transition: 0.3s;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-4a2c7c4 */.caption {
    background-color: #00b4e0;
    height: 50px;
    text-align: center;
    font-size: 1.7em;
    font-family: "Montserrat",sans-serif;
    color: white;
    vertical-align: center;
    padding-top: 6px;
    transition: 0.3s;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-37b9cad */.widget-image-caption{
    
    line-height: 2.5;
}

.wp-caption img[class*=wp-image-] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.4;
    transition: 0.3s;
    cursor: pointer;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-6eae1e2 */.caption {
    background-color: #00b4e0;
    height: 50px;
    text-align: center;
    font-size: 1.7em;
    font-family: "Montserrat",sans-serif;
    color: white;
    vertical-align: center;
    padding-top: 6px;
    transition: 0.3s;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-ca03d94 */.caption {
    background-color: #00b4e0;
    height: 50px;
    text-align: center;
    font-size: 1.7em;
    font-family: "Montserrat",sans-serif;
    color: white;
    vertical-align: center;
    padding-top: 6px;
    transition: 0.3s;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-265105a */.widget-image-caption{
    
    line-height: 2.5;
}

.wp-caption img[class*=wp-image-] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.4;
    transition: 0.3s;
    cursor: pointer;
}/* End custom CSS */