.elementor-1879 .elementor-element.elementor-element-6399b267{margin-top:-10px;margin-bottom:0px;}/* Start custom CSS for section, class: .elementor-element-6399b267 */.ast-primary-header-bar {
    display: none;
}
#masthead{
    display: none;
}/* End custom CSS */